<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <p>Fetched <%=@articles.size%> items.</p>
  <table>
	<th>News Article</th>
	<th>Updated</th>
	<th>Update Time</th>
    <%@articles.each do |article|%>
	<tr>
	<td><a href="<%=article.url%>"><%=article.title%></a></td>
	<td><%if(article.created_at != article.updated_at)%>Updated<%else%>Original<%end%></td>
	<td><%=article.updated_at%></td>
	</tr>
    <%end%>
  </table>

</body>
</html>
